.Todo {
    padding: 0px;
    margin-top: 70px;
}

.todo-item {
    list-style: none;
    padding: 10px;
    font-size: 10pt;
    margin-bottom: 5px;
    min-height: 20px;
    border-bottom: 1px dotted  #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    max-width: 100%;
    text-transform: capitalize;
}

.item-name {
    flex-grow: 0;
    width: 80%;
}

.item-delete,
.item-done {
    font-weight: bold;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    transition: .1s;
    padding: 2px;
}

.item-delete {
    color: #919191;
}

.item-delete:hover,
.item-done:hover {
    color: #ccc;
}

.confirm {
    position: absolute;
    right: 0px;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.confirm-yes,
.confirm-no {
    font-weight: bold;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    transition: .1s;
    padding: 2px;
}

.isShow {
    visibility: visible;
}

.isHidden {
    visibility: hidden;
}

.isDoneCheck {
    color: seagreen;
}

.isDone {
    color: #919191;
    text-decoration: line-through;
    font-weight: normal;
}

.confirm-yes {
    color: tomato;
    /* border: 2px solid seagreen; */
}

.confirm-no {
    color: #919191;
    /* border: 2px solid tomato; */
}