body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial;
}

.warn {
    font-size: 10pt;
    font-style: italic;
    color: #aaa;
    text-align: center;
}

.isShow {
    visibility: visible;
}

.isHidden {
    visibility: hidden;
}